In [1]:
a=float(input("Write a number a="))
b=float(input("write another number b="))
p=a*b
x=(a+b)/2
print("the product of given number is:",p)
print("the average of given numbers is:",x)

Write a number a= 23
write another number b= 34

the product of given number is: 782.0
the average of given numbers is: 28.5

In [2]:
r=float(input("write the rate of interest r="))
p=float(input("write the principle amount p="))
t=float(input("write the given time period t="))
s=(p*r*t)/100
print("the simple intrest:",s)

write the rate of interest r= 7
write the principle amount p= 10000
write the given time period t= 1

the simple intrest: 700.0

In [3]:
h=float(input("write the total hours of work h="))
r=float(input("write the hourly wage of worker r="))
m=h*r
print("the wage of the worker is:",m)

write the total hours of work h= 40
write the hourly wage of worker r= 30

the wage of the worker is: 1200.0

In [7]:
q=float(input("enter the unit cost of the item q="))
c=int(input("enter the quantity of the items c="))
s=q*c
print("the stock value of the item:",s)

enter the unit cost of the item q= 20
enter the quantity of the items c= 30

the stock value of the item: 600.0

In [8]:
b=float(input("enter the value of base b="))
h=float(input("enter the value of height h="))
a=b*h
print("the area of given parallelogram:",a)

enter the value of base b= 3
enter the value of height h= 5

the area of given parallelogram: 15.0

In [9]:
l=float(input("write the length l="))
b=float(input("write the breadth b="))
h=float(input("write the height h="))
c=float(input("write the cost of painting per square unit c="))
t=2*h*(l+b)*c
print("the total cost of painting the wall:",t)

write the length l= 20
write the breadth b= 15
write the height h= 10
write the cost of painting per square unit c= 10

the total cost of painting the wall: 7000.0

In [10]:
r=float(input("write the value of radius of circle r="))
p=3.14
a=2*p*r
print("the parameter of the circular plot:",a)

write the value of radius of circle r= 7

the parameter of the circular plot: 43.96

In [11]:
l=float(input("enter the given length of square="))
p=4*l
a=l*l
print("the perimeter of the square:",p)
print("the area of the square:",a)

enter the given length of square= 20

the perimeter of the square: 80.0
the area of the square: 400.0

In [12]:
k=float(input("write the distance in kilometer k="))
m=k*0.621371
print("the given k in miles:",m)

write the distance in kilometer k= 35

the given k in miles: 21.747985

In [13]:
p=float(input("enter the principle amount p="))
r=float(input("enter the rate of intrest r="))
t=float(input("enter the time period t="))
a=p*(1+r/100)**t
c=a-p
print("total amount is:",a)
print("compound intrest is:",c)

enter the principle amount p= 10000
enter the rate of intrest r= 7
enter the time period t= 3

total amount is: 12250.43
compound intrest is: 2250.4300000000003

In [14]:
b=float(input("the basic pay of the employee is b="))
g=b+(97/100*b)+(57/100*b)+150
n=g-(12/100*b)-200
print("the net salary of an employee:",n)

the basic pay of the employee is b= 10000

the net salary of an employee: 24150.0

In [22]:
cost_price=float(input("enter the cost price"))
sells_price=float(input("enter the sell price"))
if(cost_price > sells_price):
    loss = cost_price - sells_price
    print("loss is ", loss)
else:
    profit = sells_price - cost_price
    print("profit is", profit)

enter the cost price 45
enter the sell price 35

loss is  10.0

In [20]:
a= int(input("enter the first angle :"))
b= int(input("enter the second angle :"))
c= int(input("enter the three angle :"))
if(a+b+c!=180)or(a==0 or b==0 or c==0):
    print("invalid triangle")
elif(a==90 and b<90 and c<90)or(a<90 and b==90 and c<90)or(a<90 and b<90 and c==90):
    print("it's a right angle triangle")
elif(a>90 and b<90 and c<90)or(a<90 and b>90 and c<90)or(a<90 and b<90 and c>90):
    print("it's an obtuse triangle")
elif(a<90 and b<90 and c<90):
    print("it's an acute angle triangle")
elif(a==b==c==60):
    print("it's an eqiangle triangle")

enter the first angle : 180
enter the second angle : 0
enter the three angle : 0

invalid triangle

In [1]:
a,b,c,d=input("enter the length of four sides a,b,c and d=").split(",")
e=float(input("enter one of the angle"))
if(a==b and b==c and c==d):
    if e==90:
        print("square")
    else:
        print("rhombus")
elif a==c and b==d:
    if e==90:
        print("rectangle")
    else:
        print("paralellogram")
else:
    print("irregular")

enter the length of four sides a,b,c and d= 90,80,70,60
enter one of the angle 60

irregular

In [5]:
a=int(input("enter the age of the employee="))
s=input("enter the sex of the employee (M)ale or (F)emale=")
m=input("enter the martial status of employee (Y)es or (N)o=")
if s.upper()=="F":
    print("she will only work in urban areas")
elif s.upper()=="M" and a>=20 and a<=40:
    print("he can work anywhere")
elif s.upper()=="M" and a>=40 and a<=60:
    print("he will work in urban area only")
else:
    print("ERROR")

enter the age of the employee= 1
enter the sex of the employee (M)ale or (F)emale= M
enter the martial status of employee (Y)es or (N)o= Y

ERROR

In [8]:
t=int(input("enter the total number of classes held="))
p=int(input("enter the number of classes attended="))
s=(p/t)*100
print("percentage of class attended:",s)
if s>=75:
    print("student is allowed to sit for the exam")
else:
    print("student is not allowed to sit for the exam")

enter the total number of classes held= 300
enter the number of classes attended= 30

percentage of class attended: 10.0
student is not allowed to sit for the exam

In [6]:
h=float(input("enter the total hours of work done="))
if h<=37:
    t=h*23
    print("the payment of the worker is:",t)
elif h>37 and h<=65:
    t=(37*23)+((h-37)*31)
    print("the payment of the worker is:",t)
else:
    t=(37*23)+((h-37)*31)+((h-65)*41)
    print("the payment of the worker is:",t)

enter the total hours of work done= 24

the payment of the worker is: 552.0

In [46]:
t=int(input("enter the current reading="))
p=int(input("enter the previous reading="))
if t>=p:
    c=t-p
else:
    c=(1000000-p)+t
if c<=50:
    e=c*5.5
elif c>=50 and c<=125:
    e=5.5*50+(c-50)*7.75
elif c>=125 and c<=250:
    e=5.5*50+7.75*75+(C-125)*9.35
else:
    e=(50*5.5)+7.75*75+9.35*125+(c-250)*12.65
r=e+25
print("the total electric bill is:",r)

enter the current reading= 76
enter the previous reading= 67

the total electric bill is: 74.5

In [51]:
bp=float(input("enter the basic pay of the employee="))
d=input("write the designation of the employee=")
if bp<40000 and d=="manager":
    b=0.12*bp
    if b<2500:
        b=2500
if bp>=40000 and d=="manager":
    b=0.16*bp
    if b>7500:
        b=7500
if bp<20000 and d=="officer":
    b=0.14*bp
    if b<2500:
        b=2500
    if b>5000:
        b=5000
else:
    b=0.089*bp
print("the festival bonus of the employee is:",b)

enter the basic pay of the employee= 2000000
write the designation of the employee= 0fficer

the festival bonus of the employee is: 178000.0

In [16]:
n=int(input("enter the number="))
s=0
for i in range(1,n):
    if n%i==0:
        s+=i
if s==n:
    print(n,"is a perfect number")
else:
    print(n,"is not a perfect number")

enter the number= 10000

10000 is not a perfect number

In [47]:
n=int(input("enter the number"))
for i in range(0,1001):
    i+=1
c=(n-2)**2+(n-1)**2+(n)**2
p=(n+1)**2+(n+2)**2
if c==p:
    print(n-2,n-1,n,n+1,n+2)
else:
    print("sum of first 3 consecutive number is not equal to next 2 number")

enter the number 12

10 11 12 13 14

In [44]:
n=int(input("enter a positive number="))
if n<0:
    print("factorial not possible")
elif n==1 or n==0:
    print(1)
else:
    s=1
    for i in range(2,n+1):
        s*=i
    print(f"the factorial of given number {n} is {s}")

enter a positive number= 7

the factorial of given number 7 is 5040

In [15]:
n=int(input("enter a number="))
for i in range(1,n):
    if n%i==0:
        print("the divisor of the numbers are=",i)

enter a number= 34

the divisor of the numbers are= 1
the divisor of the numbers are= 2
the divisor of the numbers are= 17

In [16]:
for i in range(1,10001):
    s=1
    for j in range(2,i):
        if i%j==0 and j!=i:
            s+=j
    if s==i:
        print(i)

1
6
28
496
8128

In [ ]:
start=1
end=1000

In [1]:
n=int(input("enter the number"))
b=0
i=0
while n!=0:
    r=n%2
    b=b+r*10**i
    n=n//2
    i=i+1
print(b)

enter the number 987654321

111010110111100110100010110001

In [3]:
n=int(input("enter the number of terms="))
x=float(input("enter the value of x="))
t=1
s=0
for i in range(1,n+1):
    t=t*x
    s+=t/i
print("the sum of series=",s)

enter the number of terms= 56
enter the value of x= 7

the sum of series= 4.421516335053816e+45

In [7]:
n=int(input("enter the number of terms="))
x=float(input("enter the value of x="))
t=1
s=0
for i in range(1,n+1):
    t=t*x/i
    s+=t
print("the sum of series=",s)

enter the number of terms= 3
enter the value of x= 3

the sum of series= 12.0

In [12]:
n=int(input("enter the number="))
s=0
while n!=0:
    r=n%10
    s=s+r
    n=n//10
print("sum of the given number's digits=",s)

enter the number= 23

sum of the given number's digits= 5

In [15]:
n=input("enter the number")
rev=""
for i in (n):
    rev=i+rev
print(rev)

enter the number 23

32

In [42]:
r=int(input("enter the range="))
for i in range(1,r+1):
    for j in range(1,i+1):
        print(" ",end="")
    for k in range(i + 1):
        if k==1 or k==2*i-1:
            print("*")
        else:
            print( )
    print()

enter the range= 4

*


*



*




*

In [15]:
r=int(input("enter the range="))
for i in range(1,r+1):
    for j in range(65,65+i):
        print(chr(j),end="")
    print()

enter the range= 5

A
AB
ABC
ABCD
ABCDE

In [27]:
r=int(input("enter the range="))
for i in range(1,r+1):
    for j in range(r-i-1):
        print(" ",end="")
    for k in range(65,i+65):
        print(chr(k),end="")
    print()

enter the range= 6

    A
   AB
  ABC
 ABCD
ABCDE
ABCDEF

In [2]:
def dispense_cash(n):
    l=[2000,500,200,100,50,20,10,5,2,1]
    for i in l:
        q=n//i
        print("No of",i,"note=",q)
        n=n%i
n=int(input("enter the amount:"))
dispense_cash(n)

enter the amount: 7800

No of 2000 note= 3
No of 500 note= 3
No of 200 note= 1
No of 100 note= 1
No of 50 note= 0
No of 20 note= 0
No of 10 note= 0
No of 5 note= 0
No of 2 note= 0
No of 1 note= 0

In [6]:
def maximum (a,b,c):
    if(a>=b)and(a>=c):
        largest=a
    elif(b>=a)and(b>=c):
        largest=b
    else:
        largest=c
    return largest
a=4
b=7
c=89
print(maximum(a,b,c))

89

In [7]:
def sum_list(list):
    total=0
    for i in list:
        total +=i
    print(total)
s=[23,34,45,56]
sum_list(s)

158

In [9]:
def multiply_list(list):
    p=1
    for i in list:
        p *=i
    print(p)
l=[12,23,34,45]
multiply_list(l)

422280

In [12]:
def given_range(number,start,end):
    if number in range(start,end+1):
        print(True)
    else:
        print(False)
given_range(32,1,100)

True

In [15]:
def even_number(number):
    for i in number:
        if i%2==0:
            print(i)
my_list=[1,2,3,4,5,6,7,8,9,10]
even_number(my_list)

2
4
6
8
10

In [1]:
def exponent(a,b):
    result=a**b
    print(result)
exponent(2,3)

8

In [10]:
x=10
def display( ):
    y=20
    print("y is=",y)
display( )
print("x=",x)

y is= 20
x= 10

In [19]:
x=5
def funtion( ):
    global y
    y=20
    print("Inside funtion y=",y)
funtion( )
print("outside funtion y=",y)

Inside funtion y= 20
outside funtion y= 20

In [20]:
def display(x,y,z):
    print("x is=",x)
    print("y is=",y)
    print("z is=",z)
display(z="abc",x=10,y=40.89)

x is= 10
y is= 40.89
z is= abc

In [22]:
def display(x=23,y=10):
    print("x=",x)
    print("y=",y)
display(30,40)

x= 30
y= 40

In [23]:
def addition(x,y):
    print(x+y)
def subtraction(x,y):
    print(x-y)
def multiplication(x,y):
    print(x*y)
def division(x,y):
    if y==0 or x==0:
        print("error")
    else:
        print(x/y)
division(45,90)

0.5

In [1]:
def display(name,*subject):
    print(name,"likes to read:")
    for i in subject:
        print(i)
display("Anik","Math","English")
display("priyanka","History","Bengali","Chemistry")

Anik likes to read:
Math
English
priyanka likes to read:
History
Bengali
Chemistry

In [2]:
def fact(n):
    if n==0:
        return 1
    else:
        return n*fact(n-1)
print(fact(5))

120

In [5]:
def exponent(x,y):
    if y==0:
        return 1
    elif y>0:
        return x*exponent(x,y-1)
    else:
        return 1/exponent(x,-y)
result=exponent(4,5)
print(result)

1024

In [9]:
s=input("enter the string=")
sn=''
for i in s:
    if i in "aeiouAEIOU":
        pass
    else:
        sn= sn+i
print("new string after vowel removed is=",sn)

enter the string= my name is somyadwip

new string after vowel removed is= my nm s smydwp

In [15]:
s=input("enter the string=")
sn=''
for i in s:
    if i in "1234567890":
        pass
    else:
        sn= sn+i
print("the new string without numbers is=",sn)

enter the string= vty56w45sr

the new string without numbers is= vtywsr

In [24]:
def fibonacci(n):
    if n==0:
        return 0
    elif n==1:
        return 1
    else:
        return fibonacci(n-1)+fibonacci(n-2)
n=int(input("Enter the value of n="))
for i in range(n):print(fibonacci(i),end="\t")

Enter the value of n= 10

0	1	1	2	3	5	8	13	21	34

In [4]:
def vowel_count(string):
    v="aeiouAEIOU"
    count=0
    for i in string:
        if i in v:
            count+=1
    return count
result=vowel_count("harsh is a good boy")
print(result)

6

In [5]:
s=input("enter the string=")
if (s==s[ : :-1]):
    print("string;s palindrome")
else:
    print("non palindrome")

enter the string= abcba

string;s palindrome

In [18]:
def triple(n):
    s=""
    for i in n:
        s+=i*3+" "
    return s.strip()
result=triple("cat")
print(result)

ccc aaa ttt